@(tooltypes: List[ToolType])

@main("ToolTypes") {

<!-- Main Content -->

    <div class="row">
            <div class="post-preview">
                @if(tooltypes.isEmpty()) {
                <h2>No Tools Available</h2>
                } else {
                <a href="tools">
                    <center><h2>All Tool Types</h2></center>
                    </a>
                <center>
                <div class="col-sm-25 col-md-9">
                        <ul class="thumbnail-list">
                                @for(t <- tooltypes) {
                            <li>
                                <a href = "@routes.ToolTypes.show(t.id)">
                                <img src='@routes.Assets.versioned(t.typeImageURL)' class= "img-responsive" alt="@t.typeName" style="">
                                </a>
                                }

                            </li>
                            </a>
                        </ul>
                 </div>
                </center>
            </div>
    </div>
                <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>--

    </div>
            <hr>
            <!--<div class="post-preview">-->
                <!--<a href="post.html">-->
                    <!--<h2 class="post-title">-->
                        <!--I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.-->
                    <!--</h2>-->
                <!--</a>-->
                <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>-->
            <!--&lt;!&ndash; Pager &ndash;&gt;-->
            <!--<ul class="pager">-->
                <!--<li class="next">-->
                    <!--<a href="#">Older Posts &rarr;</a>-->
                <!--</li>-->
            <!--</ul>-->
}
}