@(tooltypes: List[ToolType])

@test("ToolTypes") {

<!-- Main Content -->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div id="panel" class="">
                <div class="well">
                    <h2 class="">This is sidebar</h2>

                    <p class="">Lorem ipsum dolor sit amet, ex per delenit legendos suavitate, duo ex
                        labores expetenda. Malis electram pro ea, eu epicuri honestatis qui, idque
                        nulla recusabo ut usu. No his dicit pertinax dissentias, has ea labores
                        blandit, solum semper inimicus at mel. Ne justo quaestio usu. Cu cum quot
                        dicat bonorum, summo voluptatum qui an.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <ul class="thumbnail-list">


                @if(tooltypes.isEmpty()) {
                <h2>No other tooltypes available</h2>
                } else {
                <a href="tools">
                    <h2>ToolType List</h2>
                    <ul>
                        @for(t <- tooltypes) {
                                <li>
                                <a href="@routes.Tools.index()">
                                    <img src='@routes.Assets.versioned(t.typeImageURL)' class= "img-responsive" alt="@t.typeName";>
                                </a>
                                </li>
                                }
                                }
                        }


                    </div>
                </li>



            </ul>
        </div>
    </div>
</div>