
.link{
text-decoration: underline;
}
h2{
	font-size: 3em;
}
h3{
	font-size: 1em;
}
.margin-right{
padding: 10px 80px 10px;
}
.margin-right-only{
padding: -10px 80px 0px;
}

/*****************custom******************/
.toright{
	margin-left:60px;
}

/*****************header******************/
.brand {
    display: inherit;
    margin: 0;
    padding: 50px 10px 0px;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: normal;
    color: 	#220707;

}
header p{
 padding: 0px 100px 10px;
}
header,footer{
    margin: auto;
    width: 90%;

}
img.avatar {
  border: 1px solid #eee;
}

.only-bottom-margin {
  margin-top: 0px;
}

.activity-mini {
  padding-right: 15px;
  float: left;
}
#wrapper-main{
	margin: auto;
	width: 80%;

}
#form-wrapper{
	width:60%;
	padding:20px;
	margin: auto;
	text-align:center;
}

.form-group{
	text-align:left;
}

.form-control {
  font-size: 14px;
  color: #555;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
 }
/*##############Sign Up/ Log In***********/
#login{
}

#register{
	display:none;
}
#toregister:target ~ #form-wrapper #register,
#tologin:target ~ #form-wrapper #login{
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	display:block;
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
#toregister:target ~ #form-wrapper #login,
#tologin:target ~ #form-wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
	display:none;
}

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(-20px);
	}
}

/*Review form*/
.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}
/*****Tool Page********/

.tool-actions,
.tool-owner,
.tool-cta,
.tool-cta .btn {
  margin-bottom: 12px;
}

.tool-details__title,
.tool-details__status {
  margin: 0;
}

.tool-details__status {
  margin-bottom: 15px;
}

.section {
  padding: 15px 0;
}

@media (min-width:1200px) {
  .container {
    width: auto;
    max-width: 1250px;
  }
}
/*****Copied from Bootply********/

.thumbnail-list {
  list-style:inline-block;
  vertical-align:top;
  margin:0;
  padding:0;
  font-size:0;
}
.thumbnail-list li {
  display:inline-block;
  vertical-align:top;
  padding:2%;
  font-size:12px;
}
.thumbnail-list img {
  padding:10%;
  max-height: 400px;
}

.btn-slide { display:none; }

@media (min-width:640px) {
  .thumbnail-list li { width:30.33333%; }
}

@media (max-width:100px) {
  .btn-slide {
    text-align:center;
    width:100%;
    padding:10px;
    margin:0 auto;
    display:inline-block;
    font:bold 120%/100% Arial,Helvetica,sans-serif;
    color:#000;
    text-decoration:none;
    border:1px solid #ccc;
  }
  #panel { display:none; }
  .thumbnail-list li { text-align:center; }
}
@media (max-width:320px) {
  .thumbnail-list li { width: 100%}
}
