@(toolTypes: List[ToolType])

@main("Post a new Tool") {
    <form action="@routes.Tools.create()" method="post">
        <label for="name">Tool:</label>
                <input type="text" name="name">
                <br/><br/>
        <label for="description">Describe your tool:</label>
                <input type="text" name="description">
                <br/><br/>

        <label for="tooltype_id">Choose an appropriate category</label>
        <select name="tooltype_id" id = "type">
                @for(t <- toolTypes){
                    <option value="@t.id">@t.typeName</option>
                }
        </select>
            <br><br>


        <button class="btn btn-success">Submit</button>
    </form>
}
