@(toolTypes: List[ToolType])

@main("Post a new Tool") {
    <h1>Post a Tool:</h1><br/><br/>
    <form action="@routes.Tools.create()" method="post">
        <label for="name">Tool title:</label>
                <input type="text" name="name">
                <br/><br/>

        <label for="description">Describe your tool:</label>
        <textarea class="form-control" cols="50" name="description" placeholder="Enter your description or any other notes here..." rows="5"></textarea>
                <br/><br/>

        <label for="tooltype_id">Choose an appropriate category: </label>
        <select name="tooltype_id" id = "type">
                @for(t <- toolTypes){
                    <option value="@t.id">@t.typeName</option>
                }
        </select>
            <br><br>

        <button class="btn btn-default center">Submit</button>
    </form>
}
