@(tools: List[Tool])

@main("CTS") {

    @if(tools.isEmpty()){
        <h2>Sorry, there are no tools to display</h2>
    }else{
        <h2>All Available Tools</h2>
        <ul>
            @for(t <- tools){
                <a href = "@routes.Tools.show(t.id)"><li>@t.name</li></a>
            }
        </ul>
    }
    <button> <a href="@routes.Tools.form()"> Post a new Tool</a> </button>
    <button> <a href="@routes.Users.form()"> Sign Up</a> </button>
    <button> <a href="@routes.Users.logout()"> Log out</a> </button>
}