@(tool:Tool, reviews: List[Review])

@main("Tool profile") {

<div class="row">
    <!--<div class="col-md-9">-->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12"><h3>@tool.name</h3></div>
            </div>

        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;display:block; margin:auto;" src="@routes.Assets.versioned("images/Hammer.png")" height="150" width="150">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <h2 class="only-bottom-margin toright">@tool.description</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="text-muted">Owner:</span> @tool.owner.username<br>
                            <span class="text-muted">Registration date:</span> 01.01.2001<br>


                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr><button class="btn btn-default pull-right" onclick = ""><i class="glyphicon glyphicon-pencil"></i> Edit</button>
                    <button class="btn btn-default pull-right" onclick = ""><i class="glyphicon glyphicon-minus"></i> Delete Profile</button>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
</div>



    <h2>Tool: @tool.name</h2>
    <p> Notes from owner:@tool.description</p>
    <p>The owner: @tool.owner.username</p>
    <div class="row" id="post-review-box">
        <div class="col-md-5">
            <form accept-charset="UTF-8" action="@routes.Reviews.create(tool.id)" method="post">

                <textarea class="form-control animated" cols="50" id="new-review" name="body" placeholder="Enter your review here..." rows="5"></textarea>

                <div class="text-right">
                    <div class="stars starrr" data-rating="0"></div>
                    <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                        <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                    <button class="btn btn-success btn-lg" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
    @for(r <- reviews){
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>@r.user.username</strong> <span class="text-muted">wrote</span>
                    </div>
                    <div class="panel-body">
                        @r.body
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-md-5 -->
        </div><!-- /row -->
    }
}
