@(tool:Tool, reviews: List[Review])

@main("Tool profile") {

<!-- //// Product File Template \\\\ -->
<section class="section">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-1 col-lg-3 col-lg-offset-0">
            <!-- //// Image Viewer Module \\\\ -->
            <!--<div class="iv clearfix">-->
                <!--<div class="iv-main pxs">-->
                    <!--<img src="@routes.Assets.versioned("images/Hammer.png")" class="img-responsive">-->
                <!--</div>-->
                <a class="iv-thumbnail col-xs-6" href="#">
                    <img src="@routes.Assets.versioned("images/Hammer.png")" class="img-responsive">
                </a>

            <!--</div>-->
        </div>
        <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-0">
            <!-- //// Product Details Module \\\\ -->
            <div class="product-details">
                <h1 class="product-details__title">@tool.name </h1>
                <h2 class="h1 text-danger product-details__price">@tool.status</h2>

                <h3 class="h4 product-details__heading">Tool Description:</h3>
                <p class="product-details__desc">@tool.description</p>
                <div class="row product-params">
                    <div class="col-xs-4">
                        <h4 class="product-params__key">Category</h4>
                        <label class="product-params__value">@tool.tType.typeName</label>
                    </div>
                    <div class="col-xs-4">
                        <h4 class="product-params__key">Section</h4>
                        <label class="product-params__value">@tool.tType.section</label>
                    </div>
                    <div class="col-xs-4">
                        <h4 class="product-params__key">ZipCode</h4>
                        <label class="product-params__value">@tool.owner.zipcode</label>
                    </div>
                </div>
            </div>
            <hr>
            <!-- //// Product Action Module \\\\ -->
            <div class="product-actions  clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-sm-push-5">
                        <div class="product-cta  clearfix">
                            <!-- //// Product CTA Component \\\\ -->
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-sm-push-6">
                                    <button class="btn btn-danger btn-block " role="button">Borrow</button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                                    <button class="btn btn-default btn-block " role="button">Email</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-sm-pull-7">
                        <!-- //// Product Seller Component \\\\ -->
                        <div class="product-seller">
                            <div class="media">
                                <div class="media-left  product-seller__pic">
                                    <a href="user.profile.public">
                                        <img class="media-object img-circle" src="https://randomuser.me/api/portraits/men/84.jpg" alt="Username" width="90" height="90">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading  product-seller__name"><a href="@routes.Users.show(tool.owner.id)"></a>@tool.owner.username</h4>
                                    <div class="product-seller__rating"><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="row">


            <div class="row">
                <div class="col-md-12">
                    <hr><button class="btn btn-default pull-right" onclick = "window.location.href='@routes.Tools.edit(tool.id)"><i class="glyphicon glyphicon-pencil"></i> Edit Tool</button>
                    <button class="btn btn-default pull-right" onclick = "window.location.href='@routes.Tools.delete(tool.id)"><i class="glyphicon glyphicon-minus"></i> Delete Tool</button>
                </div>
            </div>

</div>

    <div class="row" id="post-review-box">
        <div class="col-md-5">
            <form accept-charset="UTF-8" action="@routes.Reviews.create(tool.id)" method="post">

                <textarea class="form-control animated" cols="50" id="new-review" name="body" placeholder="Enter your review here..." rows="5"></textarea>

                <div class="text-right">
                    <div class="stars starrr" data-rating="0"></div>
                    <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                        <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                    <button class="btn btn-default pull-right" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
<br/><br/>
    @for(r <- reviews){
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>@r.user.username</strong> <span class="text-muted">wrote</span>
                    </div>
                    <div class="panel-body">
                        @r.body
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-md-5 -->
        </div><!-- /row -->
    }
}
