@(user: User, pTools: List[Tool], bTools: List[Tool])

@main("User profile") {

<br>

<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 lead">My Account<hr></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="@routes.Assets.versioned("images/f_profile.png")" height="150" width="150"">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="only-bottom-margin">@user.username</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="text-muted">Email:</span> @user.email<br>
                                    <span class="text-muted">Registration date:</span> 01.01.2001<br>
                                    <span class="text-muted">ZipCode:</span>@user.zipcode<br><br>
                                    @if(user.role.equals("admin")){
                                    <a href="@routes.ToolTypes.form()"> Create a Category </a>}





                                </div>
                                <div class="col-md-6">

                                    @if(pTools.isEmpty()){
                                        <p>You haven't posted any tools yet </p>
                                        <button class="btn btn-default" onclick = "window.location.href='@routes.Tools.form()'"> Post a Tool</button>
                                    }else{
                                        <h1 >Posted Tools</h1>
                                        @for(t <- pTools){
                                             <span class="text-muted">@t.name </span> Status: @t.status<br>
                                        }
                                    }

                                    @if(bTools.isEmpty()){
                                    <p>You haven't borrowed any tools yet </p>
                                    <button class="btn btn-default" onclick = "window.location.href='@routes.ToolTypes.index()'"> Borrow a Tool</button>
                                    }else{
                                    <h1 >Borrowed Tools</h1>
                                    @for(b <- bTools){
                                    <span class="text-muted">@b.name </span> Status: @b.status<br>
                                    }
                                    }
                                </div>
                                <!--<div class="col-md-6">-->
                                    <!--<div class="activity-mini">-->
                                        <!--<i class="glyphicon glyphicon-comment text-muted"></i> 500-->
                                    <!--</div>-->
                                    <!--<div class="activity-mini">-->
                                        <!--<i class="glyphicon glyphicon-thumbs-up text-muted"></i> 1500-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr><button class="btn btn-default pull-right" onclick = "window.location.href='@routes.Users.edit(user.id)'"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
                            <button class="btn btn-default pull-right" onclick = "window.location.href='@routes.Users.delete(user.id)'"><i class="glyphicon glyphicon-minus"></i> Delete Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}