@(currentuser: User)
@if(currentuser != null){
    <h2>Hello,@currentuser.username <a href = "@routes.Users.logout()">Log Out</a></h2>
}else{
    <h2><a href = "@routes.Users.form()#toregister">Sign Up</a> <a href = "@routes.Users.form()#tologin">Log In</a></h2>
}
<h1>******Welcome to CTS project*****</h1>

<br/><br/>
<div class="row">
    <div  >
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<hr>
<br/>